<app-menuadminsesion></app-menuadminsesion>
<body id="top">
    <!--  -->
   <br>
    <!-- Fin del titulo del aplicativo -->
    <div class="minimo">
        <div class="container">
            <!-- Panel de Información inicio -->
            <div class="row">
                <div class="col-12 ">
                    <div class="card p-2 border-info">
                        <div class="row align-items-center">
                            <div class="col-2 text-center"><i class="fa fa-chart-pie fa-3x "
                                    style="color: #3c3f8d"></i></div>

                            <div class="col-10 border-left border-info">
                                <span id="contenido_Label11" class="titulo_banner">REPORTE GENERAL</span>
                                <br><br>
                                <label class=""><i class="fa fa-exclamation-circle fa-1x "
                                        style="color: #3c3f8d"></i>&nbsp; Informacion general de los tramites realizados.</label><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            
            <div class="row">
                <div id="contenido_box_usuario_3" class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white bg-datosPersonales o-hidden h-100">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <i class="fas fa-paste"></i>
                            </div>
                            <div class="mr-5"><strong>Tramites Realizados: {{total}}</strong></div>
                        </div>
                        
                    </div>
                </div>
                   <div id="contenido_box_usuario_2" class="col-xl-3 col-sm-6 mb-3">
                        <div class="card text-white bg-solicitud o-hidden h-100">
                            <div class="card-body">
                                <div class="card-body-icon">
                                    <i class="fas fa-clipboard-check"></i>
                                </div>
                                 <div class="mr-5"><strong>Tramites Finalizados: {{finalizados}}</strong></div>
                            </div>
                            
                        </div>
                    </div>
        
                    <div id="contenido_box_usuario_1" class="col-xl-3 col-sm-6 mb-3">
                        <div class="card text-white bg-reportes o-hidden h-100">
                            <div class="card-body">
                                <div class="card-body-icon">
                                    <i class="fas fa-clipboard-list"></i>
                                </div>
                                 <div class="mr-5"><strong>Tramites En Proceso: {{en_proceso}}</strong></div>
                            </div>
                           
                        </div>
                    </div>
                    <div id="contenido_box_usuario_1" class="col-xl-3 col-sm-6 mb-3">
                        <div class="card text-white bg-certificados o-hidden h-100">
                            <div class="card-body">
                                <div class="card-body-icon">
                                    <i class="fas fa-award"></i>
                                </div>
                                 <div class="mr-5"><strong>Certificados Expedidos: {{total_certificados}}</strong></div>
                            </div>
                           
                        </div>
                    </div>
             </div>

             <div id="contenido_Box1" class="row mt-3">
                <div class="col-12">
                    <span id="contenido_Label6" class="text-primary h5">Reporte por Sectoriales</span>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div style="overflow-x: auto;">
                        <table cellspacing="0" rules="all"
                            class="table colorBlanco table-striped table-hover table-bordered" id="contenido_DOCUMENTOS"
                            style="border-collapse:collapse;">
                            <tbody>
      
                                <tr>
                                    
                                    <th class="text-center" scope="col" style="width:40%;">Sectorial</th>
                                    
                                    <th class="text-center"  scope="col" style="width:15%; color: #5b7cb6;">Realizados</th>
                                    <th class="text-center" scope="col" style="width:15%;color: #28a745;">Finalizados</th>
                                    <th class="text-center" scope="col" style="width:15%;color: darkorange;">En proceso</th>
                                    <th class="text-center" scope="col" style="width:15%;color: firebrick;">Certificados</th>
                                    

                                </tr>
                                <tr >
                                    <th style="text-align: justify">Secretaría de Recreación & Deporte</th>
                                    <th class="text-center">{{total_sectorial1}}</th>
                                    <th class="text-center">{{finalizados_sectorial1}}</th>
                                    <th class="text-center">{{en_proceso_sectorial1}}</th>
                                    <th class="text-center">{{certificado_sectorial1}}</th>
                                    
                                </tr>
                                
                              
                                <tr>
                                    <th style="text-align: justify">Secretaría de Gobierno</th>
                                    <th class="text-center">{{total_sectorial2}}</th>
                                    <th class="text-center">{{finalizados_sectorial2}}</th>
                                    <th class="text-center">{{en_proceso_sectorial2}}</th>
                                    <th class="text-center">{{certificado_sectorial2}}</th>
                                </tr>

                                <tr>
                                    <th style="text-align: justify">Secretaría de Hacienda</th>
                                    <th class="text-center">{{total_sectorial_3}}</th>
                                    <th class="text-center">{{finalizados_sectorial_3}}</th>
                                    <th class="text-center">{{en_proceso_sectorial_3}}</th>
                                    <th class="text-center">{{finalizados_sectorial_3}}</th>
                                </tr>
                              
                               
                            </tbody>
                        </table>
                        <hr>
                        <br>
                    <div class="row">
                       
                        <div id="contenido_box_usuario_3" class="col-xl-3 col-sm-6 mb-3">
                            <div class="card text-white bg-info o-hidden h-100">
                                <div class="card-body">
                                    <div class="card-body-icon">
                                        <i class="fas fa-clipboard-list"></i>
                                    </div>
                                    <div class="mr-5">Secretaria deportes </div>
                
                                </div>
                                <a class="card-footer text-white clearfix small z-1" href="AdminReportesDeportes">
                                    <span class="float-left">Ver Historial</span>
                                    <span class="float-right">
                                        <i class="fa fa-angle-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                 

                      <div id="contenido_box_usuario_1" class="col-xl-3 col-sm-6 mb-3">
                        <div class="card text-white bg-NUEVO o-hidden h-100">
                            <div class="card-body">
                                <div class="card-body-icon">
                                    <i class="fas fa-clipboard-list"></i>
                                </div>
                                <div class="mr-5">Secretaria Gobierno  </div>
            
                            </div>
                            <a class="card-footer text-white clearfix small z-1" href="AdminReportesGobierno">
                                <span class="float-left">Ver Historial</span>
                                <span class="float-right">
                                    <i class="fa fa-angle-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>

                    <div id="contenido_box_usuario_1" class="col-xl-3 col-sm-6 mb-3">
                        <div class="card text-white bg-rojo o-hidden h-100">
                            <div class="card-body">
                                <div class="card-body-icon">
                                    <i class="fas fa-clipboard-list"></i>
                                </div>
                                <div class="mr-5">Secretaria Hacienda</div>
            
                            </div>
                            <a class="card-footer text-white clearfix small z-1" href="AdminReportesHacienda">
                                <span class="float-left">Ver Historial</span>
                                <span class="float-right">
                                    <i class="fa fa-angle-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                    </div>
                    <br>
                    <br>
                    <div class="input-group mb-3">
                        <div class="form-group center" style="width:100%; height:100%">
                            <button (click)="cancelar()" class="btn btn-primary" style='width:120px'>Atras</button>
                        </div>
                    </div>
                   
                </div>
            </div>            
        </div>
    </div>
    <br>


</body>
