
<app-menu-asuntos-internos></app-menu-asuntos-internos>

<body id="top">
    <!--  -->
   <br>
    <!-- Fin del titulo del aplicativo -->
    <div class="minimo">
        <div class="container">
            <!-- Panel de Información inicio -->
            <div class="row">
                <div class="col-12 ">
                    <div class="card p-2 border-info">
                        <div class="row align-items-center">
                            <div class="col-2 text-center"><i class="fa fa-chart-pie fa-3x "
                                    style="color: #3c3f8d"></i></div>

                            <div class="col-10 border-left border-info">
                                <span id="contenido_Label11" class="titulo_banner">REPORTE  DE LOS TRAMITES </span>
                                <br><br>
                                <label class=""><i class="fa fa-exclamation-circle fa-1x "
                                        style="color: #3c3f8d"></i>&nbsp; Informacion general de los tramites realizados en la
                                        secretaria de Recreación y deportes </label><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            
            <div id="contenido_Box1" class="row mt-3">
                <div class="col-12">
                    <span id="contenido_Label6" class="text-primary h5">SECRETARIA DE RECREACION Y DEPORTES </span>
                    <hr>
                </div>
            </div>
           
            
            <div class="row">
                <div class="col-12">
                    <div style="overflow-x: auto;">
                        <table cellspacing="0" rules="all"
                            class="table colorBlanco table-striped table-hover table-bordered" id="contenido_DOCUMENTOS"
                            style="border-collapse:collapse;">
                            <tbody>
      
                                <tr>
                                    
                                    <th class="text-center" scope="col" style="width:40%;">Tramite</th>
                                    
                                    <th class="text-center"  scope="col" style="width:15%; color: #5b7cb6;">Realizados</th>
                                    <th class="text-center" scope="col" style="width:15%;color: #28a745;">Finalizados</th>
                                    <th class="text-center" scope="col" style="width:15%;color: darkorange;">En proceso</th>
                                    <th class="text-center" scope="col" style="width:15%;color: firebrick;">Certificados</th>
                                    

                                </tr>
                            
                                <p></p>
                                <tr>
                                    <th style="text-align: justify">Personería Jurídica de organismos deportivos y recreativos</th>
                                    <th class="text-center">{{realizados1}}</th>
                                    <th class="text-center">{{finalizados1}}</th>
                                    <th class="text-center">{{en_proceso1}}</th>
                                    <th class="text-center">{{certificado1}}</th>
                                    
                                   



                                </tr>
                                <tr>
                                    <th style="text-align: justify">Inscripción de dignatarios de los organismos deportivos y recreativos</th>
                                    <th class="text-center">{{realizados2}}</th>
                                    <th class="text-center">{{finalizados2}}</th>
                                    <th class="text-center">{{en_proceso2}}</th>
                                    <th class="text-center">{{certificado2}}</th>
                                  




                                </tr>
                                <tr>
                                    <th style="text-align: justify">Aprobación de reformas estatutarias</th>
                                    <th class="text-center">{{realizados3}}</th>
                                    <th class="text-center">{{finalizados3}}</th>
                                    <th class="text-center">{{en_proceso3}}</th>
                                    <th class="text-center">{{certificado3}}</th>        

                                </tr>
                                <tr>
                                    <th style="text-align: justify">Cancelación de Personería Jurídica</th>
                                    <th class="text-center">{{realizados4}}</th>
                                    <th class="text-center">{{finalizados4}}</th>
                                    <th class="text-center">{{en_proceso4}}</th>
                                    <th class="text-center">{{certificado4}}</th>        
                                </tr>
                                <tr>
                                    <th style="text-align: justify">Certificación de existencia y representación legal</th>
                                    <th class="text-center">{{realizados5}}</th>
                                    <th class="text-center">{{finalizados5}}</th>
                                    <th class="text-center">{{en_proceso5}}</th>
                                    <th class="text-center">{{certificado5}}</th>        
                                    
                            </tr>    
                            
                            
                            </tbody>

                        </table>
                        <div class="input-group mb-3">
                            <div class="form-group center" style="width:100%; height:100%">
                                <button (click)="cancelar()" class="btn btn-primary" style='width:120px'>Atras</button>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
            
            
            
                             
                        
                    </div>
                    <br>
                </div>
                <br>


</body>
